<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="button-container">
      <a href="/categorias" class="icon-button">
        <i class="fas fa-tags"></i>
        <span>Categorías</span>
      </a>
      <a href="/productos" class="icon-button">
        <i class="fas fa-box"></i>
        <span>Productos</span>
      </a>
      <a href="/proveedores" class="icon-button">
        <i class="fas fa-truck"></i>
        <span>Proveedores</span>
      </a>
      <a href="/ventas" class="icon-button">
        <i class="fas fa-arrows-rotate"></i>
        <span>Ventas</span>
      </a>
      <a href="/entradas" class="icon-button">
        <i class="fas fa-arrow-down"></i>
        <span>Entradas</span>
      </a>
      <a href="/usuarios" class="icon-button">
        <i class="fas fa-users"></i>
        <span>Usuarios</span>
      </a>
    </div>
  </body>
</html>
